.main{
    background-color: grey;
    /* background-image: url(../assets/to\ do\ app\ background.jfif); */
    /* background: radial-gradient(yellow, purple, pink, green); */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task{
    padding: 10px;
    width: 29%;
    min-width: 300px;
    max-width: 600px;
    background-color: rgb(141,209,211);
    border-radius: 8px;
    box-shadow: 0px 1px 7px 3px rgba(0,0,0,0.6);
}

.alltask{
    font-size: 17px;
    font-weight: bold;
}

.checkbox{
    accent-color: red; 
    /* This will change the color inside the checkbox. */
    margin-right: 10px;
    cursor: pointer;
    /* width: 20px;
    height: 20px;
    this will change the size of the checkbox */
    /* this is alternate method to change the size of the checkbox. */
    transform: scale(1.5);
}


.icons{
    cursor: pointer;
    font-size: 17px;
}